{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content-wrapper">
    <section id="home" class="info_sections3" alt="{{page.content.top_banner.image.alt}}" title="{{page.content.top_banner.image.title}}">
        <!-- style="background-image:url({% static page.content.top_banner.image.path %})" -->
        <div></div>
        <div class="row">
            <div class="columns col-lg-8 col-sm-10 text-center centered">
                <h1>
                    <strong>{{page.content.top_banner.title}}</strong>
                </h1>
                <h3>{{page.content.top_banner.sub_header}}</h3>
                <p>{{page.content.top_banner.oneliner}}</p>

                <iframe src="https://player.vimeo.com/video/158696349" width="500" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/158696349">hipara-intro</a> from <a href="https://vimeo.com/user49930417">J Brett Cunningham</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                <a href="../static/downloads/deployment_guide.txt" download target="_blank"><i class="fa fa-windows"></i> Windows 32-bit Hipara</a><a href="../static/downloads/deployment_guide.txt" download target="_blank"><i class="fa fa-windows"></i> Windows 64-bit Hipara</a>
            </div>
        </div>
    </section>
    <div class="small-icon-tile-section text-center">
        <div class="row">
            <h1>
                <strong>{{ page.content.tile_section.title }}</strong>
            </h1>
        </div>
        <div class="row">
            <div class="container">
                {% for key, tile in page.content.tile_section.tiles.items %}
                <div class="col-lg-4 col-md-6 col-sm-12 columns">
                    <div class="small-icon-tile">
                        <div class="img-holder">
                            <img class="img-circle" src="{% static tile.image.path %}" title="{{ tile.image.title}}" alt="{{ tile.image.alt }}">
                        </div>
                        <div class="info-holder">
                            <h1>{{ tile.title }}</h1>
                            <p>{{ tile.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="about-us text-center">
        <div class="row">
            <h1>
                <strong>{{ page.content.about_section.title }}</strong>
            </h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-6 col-sm-12 columns">
                    <p class="punchline text-right small-text-center">
                        {{ page.content.about_section.header }}
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 columns">
                    <p class="text-left">{{ page.content.about_section.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
