{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="content-wrapper">
    <section id="home" class="info_sections3" style="background-image:url({% static 'dist/img/mac_banner.jpg' %})" alt="banner image" title="banner image">
        <div></div>
        <div class="row">
            <div class="columns col-lg-8 col-sm-10 text-center centered">
                <h1>
                    <strong>Hipara</strong>
                </h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
        </div>
    </section>
    <div class="small-icon-tile-section text-center">
        <div class="row">
            <h1>
                <strong>Services</strong>
            </h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-4 col-md-6 col-sm-12 columns">
                    <div class="small-icon-tile">
                        <div class="img-holder">
                            <img class="img-circle" src="{% static 'dist/img/placeholder-user.png' %}" title="" alt="">
                        </div>
                        <div class="info-holder">
                            <h1>Title</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 columns">
                    <div class="small-icon-tile">
                        <div class="img-holder">
                            <img class="img-circle" src="{% static 'dist/img/placeholder-user.png' %}" title="" alt="">
                        </div>
                        <div class="info-holder">
                            <h1>Title</h1>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 columns">
                    <div class="small-icon-tile">
                        <div class="img-holder">
                            <img class="img-circle" src="{% static 'dist/img/placeholder-user.png' %}" title="" alt="">
                        </div>
                        <div class="info-holder">
                            <h1>Title</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us text-center">
        <div class="row">
            <h1>
                <strong>About</strong>
            </h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-6 col-sm-12 columns">
                    <p class="punchline text-right small-text-center">
                        loremipsumpotem dolor sitamet!
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 columns">
                    <p class="text-left">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}