{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Rule Detail{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container padding-lr-zero">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rule
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
                <li><a href="/export/">Export</a></li>
                <li>Rule</li>
            </ol>
        </section>

        <section class="content apis">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Rule Details</h3>
                        </div>
                        <div class="box-body">
                           <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>Name :</dt>
                                    <dd>{{rule.name}}</dd>
                                </dl>
                           </div>
                           <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Category :</dt>
                                    <dd>{{rule.category}}</dd>
                                </dl>
                           </div>
                            <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Source :</dt>
                                    <dd>{{rule.source}}</dd>
                                </dl>
                           </div>
                           <div class="col-lg-4">
                               <dl class="dl-horizontal">
                                   <dt>Version :</dt>
                                   <dd>{{rule.version}}</dd>
                               </dl>
                          </div>
                           <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>State :</dt>
                                    {% if rule.state %}
                                        <dd>Pass</dd>
                                    {% else %}
                                        <dd>Fail</dd>
                                    {% endif %}
                                </dl>
                           </div>
                           <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Status :</dt>
                                    <dd>{% if rule.status == None %} Pending approval
                                        {% elif rule.status == True %} Deployed
                                        {% elif rule.status == False %} Not deployed
                                        {% endif %}</dd>
                                </dl>
                           </div>
                           <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Description :</dt>
                                    <dd>{{rule.description}}</dd>
                                </dl>
                           </div>
                            <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Created by :</dt>
                                    <dd>{{rule.created_by}}</dd>
                                </dl>
                           </div>
                           <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Created at :</dt>
                                    <dd>{{rule.created_at}}</dd>
                                </dl>
                           </div>
                            <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Updated by :</dt>
                                    <dd>{{rule.updated_by}}</dd>
                                </dl>
                           </div>
                            <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Updated at :</dt>
                                    <dd>{{rule.updated_at}}</dd>
                                </dl>
                           </div>
                        </div>
                    </div>


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Rule Metadata</h3>
                        </div>
                        <div class="box-body">
                            {% for metadata in rule.meta_rule.all %}
                            <div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>{{metadata.key}} :</dt>
                                    <dd>{{metadata.value}}</dd>
                                </dl>
                           </div>
                           {% endfor %}
                       </div>
                   </div>

                   <div class="box box-primary">
                       <div class="box-header with-border">
                           <h3 class="box-title">Rule Strings</h3>
                       </div>
                       <div class="box-body">
                           <div class="col-lg-12">
                               <table class="table table-bordered table-hover">
                                   <thead>
                                   <tr>
                                       <th width="70">Type</th>
                                       <th width="100">Name</th>
                                       <th>Value</th>
                                       <th width="60">Nocase</th>
                                       <th width="60">Wide</th>
                                       <th width="60">Fullword</th>
                                       <th width="60">ASCII</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                       {% for string in rule.string_rule.all %}
                                       <tr>
                                           <td>{{string.type}}</td>
                                           <td>{{string.name}}</td>
                                           <td>{{string.value}}</td>
                                           <td>{{string.is_nocase}}</td>
                                           <td>{{string.is_wide}}</td>
                                           <td>{{string.is_full}}</td>
                                           <td>{{string.is_ascii}}</td>
                                       </tr>
                                       {% endfor %}
                                   </tbody>
                               </table>
                          </div>
                      </div>
                  </div>

                  <div class="box box-primary">
                      <div class="box-header with-border">
                          <h3 class="box-title">Rule Condition</h3>
                      </div>
                      <div class="box-body">
                          {% for condition in rule.condition_rule.all %}
                          <div class="col-lg-6">
                              <dl class="dl-horizontal">
                                  <dt>Condition :</dt>
                                  <dd>{{condition.condition}}</dd>
                              </dl>
                         </div>
                         {% endfor %}
                     </div>
                 </div>
                    <!-- /.box-body -->
                </div>

                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Update rule</h3>
                        </div>
                        <form role="form" data-toggle="validator" id="rule-update" method="post" action="/rule/{{rule.rule_id}}/">
                        {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group col-lg-6 col-md-6">
                                    <label for="category">Status</label>
                                    <div class="form-group">
                                        <select name="status" class="form-control" id="status">
                                            {% if rule.status == None %}
                                                <option value="2" selected >Pending approval</option>
                                            {% endif %}
                                            <option value="1" {% if rule.status == True %} selected {% endif %}>Deployed</option>
                                            <option value="0" {% if rule.status == False %} selected {% endif %}>Not Deployed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Update role</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>

{% endblock %}


{% block footer %}

{% endblock %}
