{% extends "base.html" %}
{% load staticfiles %}
{% load getattribute %}
{% block content %}
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header padding-lr-zero">
            <h1>
                {{page.content.title}}
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li>API's</li>
            </ol>
        </section>

        <section class="content apis padding-lr-zero">
            <div class="row">
                <div class="col-xs-12 sample-codes">
                    <!-- Example -->
                    {% for key, api in page.content.apis.items %}

                    <h3><b>{{ api.title }}</b></h3>
                    <p>Description: {{api.description}}</p>
                    <ul>
                        <li><strong>URL: </strong> {{api.url}}</li>
                        <li><strong>Method: </strong> {{api.method}}</li>
                        {% if api.header %}
                        <li><strong>Header : </strong>{{api.header}}</li>
                        {% endif %}
                        {% if api.dataparams %}
                        <li><strong>Data Params : </strong>{{api.dataparams}}</li>
                        {% endif %}

                        {% if api.response %}
                            <h3>Response</h3>

                            <b>Success</b>:
                            {% for success_key, success in api.response.success.items %}
                                <ul>
                                    <li><strong>Status Code : </strong>{{success.code}}</li>
                                    <li><strong>Content : </strong>{{success.content}}</li>
                                </ul>
                            {% endfor %}

                            <b>Error</b>:
                            {% for error_key, error in api.response.error.items %}
                                <ul>
                                    <li><strong>Status Code : </strong>{{error.code}}</li>
                                    <li><strong>Content : </strong>{{error.content}}</li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <h3 class="snippets-title">Code Snippets</h3>
<pre>
<code data-language="javascript">
{{examples|getattribute:key}}
</code>
</pre>
                    {% endfor %}
                    <!-- example end -->
                </div>
                <!-- /.box -->
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
{% endblock %}


{% block footer %}
<script src="{% static 'plugins/rainbow-dev-custom/rainbow.min.js' %}"></script>
<script src="{% static 'plugins/rainbow-dev-custom/language/generic.js' %}"></script>
{% endblock %}
