{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container padding-lr-zero">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Change Password
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
                <li><i class="glyphicon glyphicon-user"></i> Change Password</li>
            </ol>
        </section>

        <section class="content apis">
            <div class="row">
                <div class="login-box">
                    <div class="login-box-body col-xs-12">
                        <form role="form" id="change_form" data-toggle="validator" action="/change/password/" method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <input type="password" required name="old_password" class="form-control" placeholder="Old Password" autofocus="" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            {% if form.old_password.errors %}
                            <div>
                                {% for error in form.old_password.errors %}
                                    {{error}}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group has-feedback">
                                <input type="password" required class="form-control" placeholder="New Password"
                                id="password" name="new_password" required  data-minlength="6" data-maxlength="75">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                <!-- <span class="help-block">Minimum of 5 characters</span> -->
                            </div>
                            {% if form.password.errors %}
                            <div>
                                {% for error in form.password.errors %}
                                {{error}}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group has-feedback">
                                <input type="password" required class="form-control" id="passwordConfirm"
                                data-match="#password" data-match-error="Whoops, these don't match"
                                placeholder="Confirm password" required data-minlength="6" data-maxlength="75">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="help-block with-errors"></div>
                            {% if form.non_field_errors or error %}
                            <div>
                                {{error}}
                                {% for error in form.non_field_errors %}
                                {{error}}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="row login-action">
                                <div class="col-xs-4 pull-left">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                                </div>
                                <!--<div class="col-xs-4 pull-right">-->
                                    <!--<a href="register.html" class="text-center">Sign up</a>-->
                                <!--</div>-->
                            </div>
                        </form>
                    </div>
                    <!-- /.login-box-body -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>

{% endblock %}


{% block footer %}
<script src="{% static 'dist/js/jquery.bootpag.min.js' %}"></script>
<script src="{% static 'dist/js/validator.min.js' %}"></script>
<script>
    $(function() {
        $('#change_form').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
                console.log('if');
            } else {
                // everything looks good!
                var formdata = $('#change_form').serializeArray();
                console.log('else');
            }
        });
    });
</script>
{% endblock %}
