{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="login-box" style="margin: 0% auto; padding: 6em 0;">
        <div class="login-logo">
            <!-- <a href="/"><b>{{ page.content.header }}</b></a> -->
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{{ page.content.sub_header }}</p>
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" name="email" value="{{form.email.value}}" class="form-control" placeholder="Email/Username" autofocus="" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                {% if form.email.errors %}
                <div>
                    {% for error in form.email.errors %}
                        {{error}}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password" required data-minlength="6" data-maxlength="75">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                {% if form.password.errors %}
                <div>
                    {% for error in form.password.errors %}
                        {{error}}
                    {% endfor %}
                </div>
                {% endif %}
                {% if form.non_field_errors %}
                <div>
                        {% for error in form.non_field_errors %}
                            {{error}}
                        {% endfor %}
                </div>
                {% endif %}
                <div class="row login-action">
                    <div class="col-xs-4 pull-left">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                    </div>
                    <!--<div class="col-xs-4 pull-right">-->
                        <!--<a href="register.html" class="text-center">Sign up</a>-->
                    <!--</div>-->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
