{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="content-wrapper">
{% if validlink %}
	<div class="login-box" style="margin: 0% auto; padding: 6em 0;">
	{% if form.errors %}
		<div class="alert alert-danger">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
			
		</div>
	{% endif %}
		<div class="login-box-body">
			<p class="login-box-msg">{% trans 'Password reset' %}</p>
			<form action="" method="post">{% csrf_token %}
				
					<div class="clearfix">
						<div class="input">
							{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
						</div>
					</div>
					
					<div class="form-group has-feedback">
						<input type="password" name="new_password1" class="form-control" placeholder="New password" required data-minlength="6" data-maxlength="75">
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					
					{% if form.new_password1.errors %}
					<div>
						<span class='text-danger'>{{ form.new_password1.errors|join:'<br />' }}</span>
						
						{% if form.new_password1.help_text %}
							<span class="help-block ">{{ form.new_password1.help_text }}</span>
						{% endif %}						
					</div>
					{% endif %}
					
					<div class="form-group has-feedback">
						<input type="password" name="new_password2" class="form-control" placeholder="New password confirmation" required data-minlength="6" data-maxlength="75">
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					
					{% if form.new_password2.errors %}
					<div>
						<span class='text-danger'>{{ form.new_password2.errors|join:'<br />' }}</span>
						
						{% if form.new_password2.help_text %}
							<span class="help-block ">{{ form.new_password2.help_text }}</span>
						{% endif %}						
					</div>
					{% endif %}
					
					<div class="row login-action">
						<div class="col-xs-4 pull-left">
							<input type="submit" class="btn primary btn-block btn-flat" value="{% trans 'Change' %}">
						</div>
					</div>
				
			</form>
		</div>
	</div>
{% else %}
	<div class="container padding-lr-zero">
		<h3>{% trans 'Password reset unsuccessful' %}</h3>
		<p>
			{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
		</p>
	</div>
{% endif %}
</div>
{% endblock %}

{% block footer %}
	{% if validlink %}
        {% if form.errors %}
			<script type="text/javascript">
				$(document).ready(function(){
					$(".alert-message").alert();
				});
			</script>
		{% endif %}
	
		<script type="text/javascript">
			document.forms[0].elements[2].focus();
		</script>
	{% endif %}
{% endblock %}